@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* UTILITY CLASSES */
/* UTILITY CLASSES */
/* UTILITY CLASSES */
.u-small {
  margin-bottom: 1.5rem;
}

.u-medium {
  margin-bottom: 3rem;
}

.u-large {
  margin-bottom: 5rem;
}

.text-white {
  color: white;
}

/* START HERE */

/* HEADER SECTION */
/* HEADER SECTION */
/* HEADER SECTION */
header {
  background-color: #EEEEEE;
}

.logo h2 {
  font-size: 3.5rem;
  color: green;
  cursor: pointer;
  margin-left: 1rem;
}

.logo h2 span {
  color: orangered;
}

.check,
.hamburger {
  display: none;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul li {
  list-style: none;
  margin: 0 .5rem;
}

.nav-ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: .8rem 1.6rem;
  color: black;
  position: relative;
  transition: all .3s;
}

.nav-ul li a:hover,
.nav-ul .current a {
  padding: .8rem;
  background-color: orangered;
  border-radius: 3px;
  color: white;
}

.nav-ul li a::before {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 8px;
  width: 10px;
  height: 10px;
  border: 1px solid orangered;
  border-width: 0 0 2px 2px;
  opacity: 0;
  transition: all .3s;
}

.nav-ul li a:hover::before {
  left: -8px;
  bottom: -8px;
  opacity: 1;
}

.nav-ul li a::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  height: 10px;
  border: 1px solid orangered;
  border-width: 2px 2px 0 0;
  opacity: 0;
  transition: all .3s;
}

.nav-ul li a:hover::after {
  top: -8px;
  right: -8px;
  opacity: 1;
}

.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 1.6rem;
  background-color: green;
  color: white;
  border: 1px solid orangered;
  border-radius: 5px;
  border-width: 0 0 0 4px;
  transition: all .3s;
  margin-right: 1rem;
}

.btn:hover {
  background-color: orangered;
  border: 1px solid green;
  font-size: 1.7rem;
  border-width: 0 0 0 4px;
}

/* INTRO SECTION */
/* INTRO SECTION */
/* INTRO SECTION */
.intro-section {
  position: relative;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0% 100%);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, .7);
}

.intro-content {
  padding: 10rem 2.5rem;
  z-index: 1;
}

.intro-text {
  width: 65%;
}

.intro-text h1 {
  color: white;
  display: block;
  font-size: 5rem;
  font-weight: 700;
}

.first-span {
  font-size: 3rem;
  display: block;
  color: #EEEEEE;
  opacity: .7;
}

.second-span::before {
  content: "ANIMATION";
  animation: text-changer 8s infinite 1.5s;
}

@keyframes text-changer {
  0% {
    content: "WEBSITE";
    color: orangered;
  }
  25% {
    content: "MOBILE APPS";
    color: greenyellow;
  }
  50% {
    content: "SOFTWARES";
    color: purple;
  }
  75% {
    content: "WEB APPS";
    color: orangered;
  }
  100% {
    content: "IT SERVICES";
    color: blue;
  }
}

/* ABOUT SECTION */
/* ABOUT SECTION */
/* ABOUT SECTION */
.about-section {
  margin-bottom: 5rem;
}

.title {
  text-align: center;
}

.s-head {
  font-size: 3rem;
  background: linear-gradient(to right, 
    green,
    orangered
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.s-head::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  width: 3.5rem;
  height: 2px;
  background-color: green;
  transform: translateX(-50%);
}

.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 50%;
}

.about img {
  width: 90%;
}

/* SERVICE SECTION */
/* SERVICE SECTION */
/* SERVICE SECTION */

.service-section {
  padding: 5rem 5rem;
  background-color: #EEEEEE;
}

.services {
  width: 100;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 3rem;
  column-gap: 3rem;
}

.service-box {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1.5rem;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  position: relative;
  overflow: hidden;
  transition: all .5s;
}

.service-box:hover {
  background-color: #EEEEEE;
  transform: translateY(-2rem);
}

.service-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: orangered;
  transform: translateX(-100%);
  transform-origin: left;
  transition: all .5s;
}

.service-box:hover::before {
  transform: translateX(0);
}

.service-box i {
  font-size: 3rem;
  color: orangered;
  margin-bottom: 1rem;
}

.service-box:nth-child(even) i {
  color: green;
}

.t-head {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.service-box p {
  font-size: 1.4rem;
}

/* PRICE SECTION */
/* PRICE SECTION */
/* PRICE SECTION */
.pricing-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.price {
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.price-box {
  width: 100%;
  text-align: center;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding-bottom: 3rem;
  margin: 2rem 1.5rem;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}

.price-box p {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.price-box h4 {
 font-size: 3rem;
 margin-bottom: 2rem; 
}

.price-box h4 span {
  font-size: 3rem;
  color: white;
}

.price-box ul {
  list-style: none;
  margin-bottom: 3rem;
}

.price-box ul li {
  font-size: 1.4rem;
  padding: 1.2rem 0;
  border-top: 1px solid grey;
}

.price-box ul li:last-child {
  border-bottom: 1px solid grey;
}

.price-box a {
  font-size: 1.4rem;
  text-decoration: none;
  background-color: green;
  padding: 1.2rem 3rem;
  border-radius: 5px;
  margin-bottom: 3rem;
  color: white;
  transition: all .3s;
}

.price-box a:hover {
  font-size: 1.5rem;
}

.price-list {
  padding: 0 2rem;
}

.box {
  padding: 2rem 0;
  margin-bottom: 3rem;
}

.box1,
.btn1 {
  background: linear-gradient(0deg, rgba(34,193,195,1) 22%, rgba(71,204,61,1) 100%);
}

.box2,
.btn2 {
  background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box3,
.btn3 {
  background: linear-gradient(to right, #ed213a, #93291e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.price-box:nth-child(even) {
  transform: scale(1.2);
  z-index: 000;
}

/* TESTIMONIAL SECTION */
/* TESTIMONIAL SECTION */
/* TESTIMONIAL SECTION */
.testimonial-section {
  background-color: #EEEEEE;
  padding: 5rem 0;
}

.testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-box {
  margin: 1rem;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
  cursor: pointer;
  transform: translateY(0);
  transition: all .3s;
}

.testimonial-box:hover {
  background-color: lightgrey;
  transform: translateY(-1rem);
}

.testimonial-box i {
  font-size: 3rem;
  color: lightgrey;
  transition: all .3s;
}

.testimonial-box:hover i {
  color: black;
}

.testimonial-box p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}

.testimonial-box img {
  width: 30%;
  border: 3px solid lightgrey;
  border-radius: 50%;
}

.one {
  padding: 2px;
}

.name {
  color: purple;
  font-weight: 700;
}

/* CALL TO ACTION */
.cta {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.cta p {
  font-size: 1.4rem;
}

/* FOOTER SECTION */
/* FOOTER SECTION */
/* FOOTER SECTION */
.footer-section {
  background-color: #232127;
  padding: 5rem 0;
}

.top-line {
  width: 100%;
  position: relative;
}

.top-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, green,
  orangered);
}

/* footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
} */

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-menu p {
  color: grey;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  padding-bottom: 1rem;
}

.footer-links li a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  transition: all .3s;
}

.footer-links a:hover {
  color: orangered;
}

.logo p {
  color: white;
}










/******************** MEDIA QUERIES *****************/
/******************** MEDIA QUERIES *****************/
/******************** MEDIA QUERIES *****************/


/* TABLET */
@media screen and (max-width: 722px) {
  /* HEADER SECTION */
  nav .btn {
    display: none;
  }
  
  /* INTRO SECTION */
  .intro-content {
    padding: 4rem 2.5rem;
  }

  .intro-text h1 {
    font-size: 4rem;
  }

  /* ABOUT SECTION */
  .about {
    flex-direction: column-reverse;
    margin-bottom: 5rem;
  }

  .about-text {
    width: 100%;
    text-align: center;
  }

  .about-text .btn {
    margin-bottom: 3rem;
  }

  /* PRICING SECTION */
  .price {
    width: 80%;
    flex-direction: column;
  }

  .price-box:nth-child(even) {
    transform: scale(1);
    z-index: 000;
  }
}





/* MOBILE */
@media screen and (max-width: 600px) {
  /* HEADER SECTION */
  .hamburger {
    display: inline-block;
    cursor: pointer;
    margin-right: 1rem;
  }

  .hamburger i {
    font-size: 3rem;
    color: orangered;
    transition: all .3s;
  }

  .nav-ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .8);
    padding-top: 2rem;
    transform: translateX(-150%);
    z-index: 11;
    transition: all .5s;
  }

  .nav-ul li {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
  }

  .nav-ul li a {
    color: white;
    padding: 1rem 2.5rem;
  }

  .nav-ul li a:hover,
  .nav-ul .current a {
    margin-left: 1rem;
    background-color: transparent;
    color: orangered;
  }

  .nav-ul li a::before {
    display: none;
  }

  .nav-ul li a::after {
    display: none;
  }

  /* SLIDE MENU WHEN HAMBURGER IS CLICKED */
  #toggle:checked ~ .nav-ul {
    transform: translateX(0);
  }

  #toggle:checked ~ .hamburger i {
    border: 1px solid black;
    padding: 2px 5px;
    border-radius: 3px;
  }

  /* .check {
    display: inline-block;
  } */

  /* INTRO SECTION */
  /* INTRO SECTION */
  /* INTRO SECTION */

  .intro-content {
    padding: 7rem 2.5rem;
  }

  .intro-text {
    width: 100%;
    text-align: center;
  }

  .first-span {
    font-size: 2rem;
  }

  .intro-content h1 {
    font-size: 3.5rem;
  }

  .intro-text p {
    text-align: justify;
  }

  /* ABOUT SECTION */
  /* ABOUT SECTION */
  /* ABOUT SECTION */
  .about-section {
    margin-bottom: 5rem;
  }

  /* TESTIMONIAL SECTION */
  /* TESTIMONIAL SECTION */
  /* TESTIMONIAL SECTION */
  .testimonial {
    flex-direction: column;
  }

  .testimonial-box p {
    padding: 1.5rem 0;
    font-size: 1.6rem;
  }

  .cta {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .cta p {
    font-size: 1.6rem;
  }

  /* FOOTER SECTION */
  /* FOOTER SECTION */
  /* FOOTER SECTION */
  .footer {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-menu p {
    font-size: 2rem;
  }
}